.wrapper {
  position: relative;
  height: 1600px;
  padding: 90px 0px 90px 0px;
}

.why-are-we__parallax {
  width: 100%;
  position: absolute;
  top: 0px;
}

.why-are-we__img-1 {
  position: sticky;
  top: 0;
  width: 100%;
  height: 800px;
  display: block;
  object-fit: cover;
}

.why-are-we__description-container {
  position: sticky;
  top: 90px;
  left: calc(50% - 625px);
  bottom: 90px;
  z-index: 200;
  width: 620px;
  border-radius: 45px;
  -webkit-border-radius: 45px;
  -moz-border-radius: 45px;
  -ms-border-radius: 45px;
  -o-border-radius: 45px;
  background: rgb(109, 126, 123, 0.5);
  backdrop-filter: blur(10px);
  padding: 30px;
}

.why-are-we__img-2 {
  position: sticky;
  background: url('./../images/img-2.jpg');
  top: 0;
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  z-index: 100;
  padding: 0px 50px 50px 0px;
  gap: 25px;
}

.img-text {
  color: #ffffff;
  text-align: right;
  font-size: var(--fsz-medium);
  font-family: var(--fw-family);
}

.img-link {
  color: var(--other-color);
}

.why-are-we__title {
  color: #ffffff;
}

.why-are-we__container {
  align-items: flex-start !important;
  color: #ffffff;
}

.why-are-we__text {
  text-align: left;
  padding: 0px 0px 0px 35px;
}

.why-are-we__text::before {
  position: absolute;
  content: url('./../images/marker.svg');
  left: 30px;
}

@media (max-width: 1300px) {
  .why-are-we__description-container {
    left: calc(50% - 620px / 2);
  }

  .why-are-we__img-2 {
    height: 900px;
    object-fit: cover;
  }
}

@media (max-width: 692px) {
  .why-are-we__description-container {
    left: calc(50% - 434px / 2);
    width: 434px;
  }

  .why-are-we__img-2 {
    height: 900px;
  }

  .img-text {
    color: #ffffff;
    text-align: right;
    font-size: var(--fsz-little);
    font-family: var(--fw-family);
  }
}

@media (max-width: 500px) {
  .why-are-we__description-container {
    left: calc(50% - 315px / 2);
    width: 315px;
  }

  .title-text {
    font-size: var(--fsz-little-plus);
    font-family: var(--fw-family);
    font-weight: var(--fw-medium);
  }

  .img-text {
    font-size: var(--fsz-little-plus);
  }

  .wrapper {
    position: relative;
    height: 1220px;
    padding: 90px 0px 90px 0px;
  }

  .why-are-we__img-1 {
    width: 100%;
    height: 610px;
  }

  .why-are-we__img-2 {
    height: 610px;

  }
}