.meet-place__section {
  margin: 120px 0px 0px 0px;
}

.meet-place__section--mobile {
  display: none;
}

.meet-place__line-scroll--mobile {
  display: none;
}

.meet-place__circle-scroll--mobile {
  display: none;
}

.meet-place__img-container {
  background: url('./../images/img-5.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 1500px;
  align-items: center;
  position: relative;

}

.meet-place__description-flexbox {
  display: flex;
  justify-content: space-between;
}

.meet-place__text {
  background: rgb(109, 126, 123, 0.5);
  backdrop-filter: blur(10px);
  width: 400px;
  max-height: 664px;
  padding: 30px;
  gap: 30px;
  font-size: var(--fsz-little);
  display: flex;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
  flex-direction: column;
  font-weight: var(--fw-medium);
  font-family: var(--fw-family);
}

.meet-place__text p {
  color: #ffffff;
}

.meet-place__text.first-elem {
  height: 435px;
  margin: 300px 0px 0px 0px;
}

.meet-place__text.second-elem {
  height: 480px;
}

.meet-place__circle-scroll {
  width: 50px;
  height: 50px;
  background: url('./../images/circle-scroll.svg');
  position: sticky;
  top: calc(100%/2);
  transform: translateX(-22px);
  fill: #ed6961;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.meet-place__circle-scroll--color-one {
  fill: #256582;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

.meet-place__circle-scroll--color-two {
  fill: #60c3d8;
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  -moz-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
}

@media (max-width: 1000px) {


  .meet-place__description-flexbox {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }

  .meet-place__text.first-elem {
    height: 435px;
    margin: 0px;

  }
}

@media (max-width: 692px) {
  .meet-place__section--mobile {
    display: block;
    margin: 65px 0px 0px 0px;
  }

  .meet-place__section {
    display: none;
  }

  .meet-place__img-container {
    background: none;
    height: auto;
  }

  .meet-place__text {
    background: none;
    backdrop-filter: none;
    width: 100%;
    max-height: none;
    padding: 0px;
    gap: 30px;
    font-size: var(--fsz-little-plus);
    display: flex;
    border-radius: none;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
    flex-direction: column;
    font-weight: var(--fw-medium);
    font-family: var(--fw-family);
  }

  .meet-place__text p {
    color: black;
  }

  .meet-place__text img {
    display: block;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    object-fit: cover;
    height: 476px;
  }

  .meet-place__text.first-elem {
    height: auto;
    margin: 0px;
  }

  .meet-place__line-scroll--mobile {
    display: block;
    position: absolute;
    width: 2px;
    height: 1517px;
    background: linear-gradient(to top, rgb(96, 195, 216), rgb(96, 195, 216), rgb(9, 98, 133), rgb(239, 120, 111), rgb(232, 65, 59));
    left: 15px;
    top: -80px;

  }

  .meet-place__circle-scroll--mobile {
    display: block;
    width: 25px;
    height: 25px;
    position: sticky;
    top: calc(100%/2);
    transform: translateX(-11px);
    fill: #ed6961;
    transition: 0.3s ease all;
    -webkit-transition: 0.3s ease all;
    -moz-transition: 0.3s ease all;
    -ms-transition: 0.3s ease all;
    -o-transition: 0.3s ease all;
    -webkit-transform: translateX(-11px);
    -moz-transform: translateX(-11px);
    -ms-transform: translateX(-11px);
    -o-transform: translateX(-11px);
  }
}

@media (max-width: 500px) {
  .meet-place__text img {
    display: block;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    object-fit: cover;
    height: 307px;
  }

  .meet-place__text__description-flexbox {
    margin: 92px 0px 0px 0px;
    gap: 50px;
  }

  .meet-place__description-flexbox {
    margin: 25px 0px 0px 0px;
  }

}