.guide__section,
.faq__section {
  padding: 120px 0px 0px 0px;
}

.guide-info__flexbox {
  display: flex;
  align-items: flex-start;
  gap: 30px;
}

.faq__container {
  width: 100%;
}

.faq__accordion {
  width: 100%;
  padding: 50px;
  background: var(--bg-color-1);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.faq__accordion .accordion-item.active .accordion-header::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.accordion {
  width: 835px;
  padding: 50px;
  background: var(--bg-color-1);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.accordion-item {
  position: relative;
  padding: 20px;
}

.accordion-color__line {
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, rgb(96, 195, 216), rgb(96, 195, 216, 0.23), rgb(9, 98, 133, 0.43), rgb(239, 120, 111, 0.67), rgb(232, 65, 59));
}

.accordion-header {
  position: relative;
  cursor: pointer;
  font-size: var(--fsz-medium);
  padding: 30 0px 30px 0px;
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);

}

.accordion-collapse {
  overflow: hidden;
  max-height: 0;
  /* Скрываем контент */
  transition: 0.3s;
}

.accordion-body {
  font-size: 20px;
  padding: 20px 0px 0px 0px;
  font-family: var(--fw-family);
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
  ;
}

.accordion-header::after {
  position: absolute;
  content: url('./../images/arr-accordeon.svg');
  color: var(--hero-color);
  top: 0px;
  right: -20px;
  font-size: 24px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.accordion .accordion-item.active .accordion-header::after {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.guide-contacts__section {
  width: 402px;
  padding: 50px;
  background: var(--bg-color-1);
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.guide-contacts__title {
  font-family: var(--fw-family);
  font-size: var(--fsz-medium);
  font-weight: var(--fw-medium);
  margin: 0px 0px 50px 0px;
}

.guide-contacts__text {
  font-family: var(--fw-family);
  font-size: var(--fsz-little);
  font-weight: var(--fw-regular);
  margin: 0px 0px 25px 0px;
}

.guide-contacts__text:last-child {
  margin: 0px;
}