footer {
  width: 100%;
  padding: 70px 0px 30px 0px;
  background: var(--other-color);
}

.footer-logo__container {
  margin: 0px auto;
  width: 234px;
  height: 116px;
}

.footer__flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  color: #ffff;
  font-family: var(--fw-family);
  font-size: var(--fsz-little);
  font-weight: var(--fw-medium);
}

.footer__flexbox a {
  color: #ffff;
  text-decoration: underline;
}