.carat-cristall__section {
  padding: 290px 0px 0px 0px;
}

.carat-cristall__flexbox {
  margin: 50px 0px 0px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 60px;
}

.carat-cristall__item {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carat-cristall__big {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carat-cristall__title {
  font-size: var(--fsz-little-plus);
  font-family: var(--fw-family);
  color: var(--other-color);
  font-weight: var(--fw-bold);
  margin: 0px 0px 10px 0px;

}

.carat-cristall__progressbar-big {
  font-size: var(--fsz-medium-plus);
  font-family: var(--fw-family);
  color: var(--other-color);
  font-weight: var(--fw-bold);
  display: flex;
  flex-direction: column;
  align-items: center;

}

.carat-one {
  background: url('./../images/2000.png');
  width: 186px;
  height: 186px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carat-two {
  background: url('./../images/6000.png');
  width: 186px;
  height: 186px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carat-three {
  background: url('./../images/12000.png');
  width: 186px;
  height: 186px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carat-four {
  background: url('./../images/20000.png');
  width: 186px;
  height: 186px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.carat-cristall__count,
.carat-cristall__gpv {
  font-size: var(--fsz-medium-plus);
  font-family: var(--fw-family);
  color: var(--other-color);
  font-weight: var(--fw-bold);
}


.carat-cristall__little {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin: 25px 0px 0px 0px;
}

.carat-cristall__count-little {
  font-size: var(--fsz-little-plus);
  font-family: var(--fw-family);
  color: var(--other-color);
  font-weight: var(--fw-bold);
}

.carat-cristall__progressbar-little {
  position: relative;
  /* background: url('./../images/little-carat.png'); */
  width: 108px;
  height: 108px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.progressbar-little__img {
  position: absolute;
  display: block;
  animation: circle-little 3s ease infinite both;
  -webkit-animation: circle-little 3s ease infinite both;
}

@keyframes circle-little {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .carat-cristall__progressbar-little {
    width: 95px;
    height: 95px;
  }

  .progressbar-little__img {
    width: 95px;
    position: absolute;
    display: block;
    animation: circle-little 3s ease infinite both;
    -webkit-animation: circle-little 3s ease infinite both;
  }
}

@media (max-width: 950px) {
  .carat-cristall__flexbox {
    margin: 50px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 60px;
    flex-direction: column;
  }

  .carat-cristall__item {
    width: 100%;
  }

}

@media (max-width: 692px) {

  .carat-one,
  .carat-two,
  .carat-three,
  .carat-four {
    width: 150px;
    height: 150px;
  }

  .carat-cristall__count,
  .carat-cristall__gpv {
    font-size: var(--fsz-medium);

  }

  .carat-cristall__progressbar-little {
    width: 71px;
    height: 71px;
  }

  .progressbar-little__img {
    width: 71px;
  }

  .carat-cristall__count-little {
    font-size: 12px;

  }


}

@media (max-width: 500px) {
  .carat-cristall__section {
    padding: 120px 0px 0px 0px;
  }
}