.carat-cristall__section {
  padding: 290px 0px 0px 0px;
}

.carat-cristall__flexbox {
  display: flex;
  align-items: flex-end;
  margin: 55px 0px 0px 0px;
}

.carat-skale__box {
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.carat-skale__title,
.carat-skale__gpv {
  font-size: var(--fsz-medium-plus);
  font-family: var(--fw-family);
  font-weight: var(--fw-bold);
  color: var(--other-color);
  text-align: center;
}


.carat-skale__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 108px;
}

.carat-skale {
  width: 78px;
  /* height: 375px; */
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background: linear-gradient(#EF786F, #FE5D50);
}

.carat-skale__text {
  font-size: var(--fsz-little-plus);
  font-family: var(--fw-family);
  font-weight: var(--fw-bold);
  color: var(--other-color);
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.little-catar__flexbox {
  display: flex;
  gap: 10px;
}

.little-carat__box {
  display: flex;
  flex-direction: column;
  gap: 7px
}

.little-carat__box img {
  display: block;
  width: 60px;
  height: 60px;
}

.little-carat__text {
  font-size: 12px;
  font-family: var(--fw-family);
  font-weight: var(--fw-bold);
  color: var(--other-color);
  text-align: center;

}

.carat-description {
  font-size: 14px;
  font-family: var(--fw-family);
  font-weight: var(--fw-bold);
  color: var(--other-color);
  text-align: center;
  margin: 10px 0px 0px 0px;
}

.skale-one {
  height: 75px;
}

.skale-two {
  height: 175px;
}

.skale-three {
  height: 275px;
}

.skale-four {
  height: 375px;
}

.little-carat__mobile {
  display: none;
}

@keyframes circle-little {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .carat-cristall__progressbar-little {
    width: 95px;
    height: 95px;
  }

  .progressbar-little__img {
    width: 95px;
    position: absolute;
    display: block;
    animation: circle-little 3s ease infinite both;
    -webkit-animation: circle-little 3s ease infinite both;
  }
}

@media (max-width: 960px) {
  .carat-skale__item {
    min-height: 0px;
  }

  .little-catar__flexbox {
    display: none;
  }

  .carat-description {
    display: none;
  }

  .carat-skale {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding: 0px 0px 15px 0px;
  }

  .little-carat__mobile {
    background: linear-gradient(45deg, #BCEBFF, #35B6FF);
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
  }
}

@media (max-width: 692px) {

  .carat-skale__title,
  .carat-skale__gpv {
    font-size: 20px;
  }

  .carat-skale__box {
    gap: 10px;
  }

  .carat-skale {
    width: 64px;
  }
}

@media (max-width: 500px) {
  .carat-cristall__section {
    padding: 200px 0px 0px 0px;
  }
}