@import url('./../fonts/DINPro.css');
@import url('./01-video-section.css');
@import url('./02-whant-to-go.css');
@import url('./03-why-are-we.css');
@import url('./04-turkey-of-heart.css');
@import url('./05-what-wait.css');
@import url('./06-meet-place.css');
@import url('./07-programm-section.css');
@import url('./08-our-spiker.css');
@import url('./09-guide.css');
@import url('./10-footer.css');
@import url('./11-carat-cristall.css');

:root {
  --main-color: #60C3D8;
  --other-color: #EF786F;
  --border-color: #E3E3E3;
  --bg-color-1: #F5F5F5;
  --bg-color-2: #C6C6C6;

  --fw-family: "DINPro", Arial, Helvetica, sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-black: 800;
  --fsz-little-plus: 16px;
  --fsz-little: 18px;
  --fsz-medium: 24px;
  --fsz-medium-plus: 34px;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

section {
  width: 100%;
  height: auto;

}

.center {
  width: 1266px;
  margin: 0px auto;
}

h1,
h2 {
  font-size: 63px;
  font-family: var(--fw-family);
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.title-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
  margin: 0px 0px 55px 0px;
}

.title-text {
  font-size: var(--fsz-little);
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
}

.button {
  cursor: pointer;
  margin: 50px auto 120px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: #ffffff;
  font-family: var(--fw-family);
  font-size: 20px;
  font-weight: var(--fw-black);
  width: 230px;
  height: 57px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.button--disabled {
  cursor: auto;
  margin: 50px auto 0px auto;
  background: var(--border-color);
  color: #575756;
}

.conditions-description__container {
  max-width: 506px;
  margin: 30px auto 120px auto;
  text-align: center;
  font-size: 14px;
  font-family: var(--fw-family);
  font-weight: var(--fw-bold);
  line-height: 170%;
}

.conditions--disactive {
  display: none;
}

.conditions-description__container a {
  color: var(--other-color);
  text-decoration: underline;
}

.modal-window {
  display: none;
}

.modal-window--active {
  z-index: 1000;
  top: 0px;
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0, 0.2);
}

.modal__container {
  position: relative;
  max-width: 400px;
  padding: 45px 30px;
  border-radius: 35px;
  background: #ffffff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.cross {
  display: flex;
  cursor: pointer;
  position: absolute;
  content: "\2716";
  font-size: 50px;
  width: 40px;
  height: 67px;
  top: -5px;
  right: 13px;
  align-items: center;
  justify-content: center;
}

.cross::after {
  position: absolute;
  content: "\2716";
  font-size: 38px;
  color: var(--other-color);

}

.modal-text {
  font-size: var(--fsz-little);
  font-weight: var(--fsz-medium);
  font-family: var(--fw-family);
}

.modal-button {
  font-size: var(--fsz-little-plus);
  font-weight: var(--fsz-medium);
  font-family: var(--fw-family);
  width: 230px;
  height: 45px;
  background: var(--other-color);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin: 40px auto 0px auto;

}

@media (max-width: 1270px) {
  .center {
    width: 100%;
    padding: 0px 30px 0px 30px;
  }
}

@media (max-width: 692px) {

  h1,
  h2 {
    font-size: var(--fsz-medium-plus);
  }

  .title__container {
    gap: 25px;
  }

  .title-text__container {
    margin: 0px 0px 45px 0px;
  }

}

@media (max-width: 500px) {
  .title-text__container {
    margin: 0px 0px 0px 0px;
  }

  h1,
  h2 {
    font-size: 32px;
  }

  .title-text {
    font-size: var(--fsz-little-plus);
    font-family: var(--fw-family);
    font-weight: var(--fw-medium);
  }

  .button {
    margin: 50px auto 55px auto;

  }

  .conditions-description__container {
    margin: 30px 20px 50px 20px;
  }

}