@import url('./../fonts/DINPro.css');
@import url('./01-video-section.css');
@import url('./02-whant-to-go.css');
@import url('./03-why-are-we.css');
@import url('./04-turkey-of-heart.css');
@import url('./05-what-wait.css');
@import url('./06-meet-place.css');
@import url('./07-programm-section.css');
@import url('./08-our-spiker.css');
@import url('./09-guide.css');
@import url('./10-footer.css');
@import url('./11-carat-cristall.css');

:root {
  --main-color: #60C3D8;
  --other-color: #EF786F;
  --border-color: #E3E3E3;
  --bg-color-1: #F5F5F5;
  --bg-color-2: #C6C6C6;

  --fw-family: "DINPro", Arial, Helvetica, sans-serif;
  --fw-light: 200;
  --fw-regular: 400;
  --fw-medium: 600;
  --fw-bold: 700;
  --fw-black: 800;
  --fsz-little-plus: 16px;
  --fsz-little: 18px;
  --fsz-medium: 24px;
  --fsz-medium-plus: 34px;

}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.wrapper {
  position: relative;
}

section {
  width: 100%;
  height: auto;

}

.center {
  width: 1266px;
  margin: 0px auto;
}

h1,
h2 {
  font-size: 63px;
  font-family: var(--fw-family);
}

.title__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 50px;
}

.title-text__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
  margin: 0px 0px 55px 0px;
}

.title-text {
  font-size: var(--fsz-little);
  font-family: var(--fw-family);
  font-weight: var(--fw-medium);
}

.button {
  margin: 50px auto 120px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  color: #ffffff;
  font-family: var(--fw-family);
  font-size: 20px;
  font-weight: var(--fw-black);
  width: 230px;
  height: 57px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

@media (max-width: 1270px) {
  .center {
    width: 100%;
    padding: 0px 30px 0px 30px;
  }
}

@media (max-width: 692px) {

  h1,
  h2 {
    font-size: var(--fsz-medium-plus);
  }

  .title__container {
    gap: 25px;
  }

  .title-text__container {
    margin: 0px 0px 45px 0px;
  }

}

@media (max-width: 500px) {
  .title-text__container {
    margin: 0px 0px 0px 0px;
  }

  h1,
  h2 {
    font-size: 32px;
  }

  .title-text {
    font-size: var(--fsz-little-plus);
    font-family: var(--fw-family);
    font-weight: var(--fw-medium);
  }

}